
<section class="inner-banner">
    <div class="zt-container">
        <div class="box clearfix">
            <h2>About</h2>
            <ul class="breadcumb">
                <li><a href="index.html">Home</a></li>
                <li><span>About</span></li>
            </ul>
        </div>
    </div>
</section>
<section class="about-info sec-padding">
    <div class="zt-container-min">
        <div class="sec-title text-center">
            <h2>Zone Tour amazing story</h2>
            <span class="tagline">Quisque et est ornare, luctus nunc non, vestibulum lacus. Fusce ultrices molestie elit, sit amet finibus enim finibus ac. Fusce ultrices molestie elit, sit amet finibus enim finibus ac.</span>
        </div>
        <div class="about-info-content">
            <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc ultrices magna et lobortis imperdiet. Etiam nulla lacus, sodales non nulla id, fermentum auctor tortor. Vestibulum a orci at nisi egestas semper. Proin commodo dolor vitae enim rhoncus, ut hendrerit arcu interdum.</p>
        </div>
    </div>
</section>
<section class="about-full sec-padding-large text-white">
    <div class="about-full-box">
        <div class="img-box">
            <script src="http://fast.wistia.com/embed/medias/p275jaus7k.jsonp" async></script>
            <script src="http://fast.wistia.com/assets/external/E-v1.js" async></script>
            <span class="wistia_embed wistia_async_p275jaus7k popover=true popoverAnimateThumbnail=true popoverContent=link videoFoam=true">
                <a href="#"><img src="images/video-play.png" alt="" /></a>
            </span>
        </div>
        <div class="sec-title text-center">
            <h2>We Are Professional Ambassadors</h2>
            <span class="tagline">Sed orci est, vulputate vel nisl id, placerat lacinia velit.</span>
        </div>
    </div>
</section>
<section class="why-choose-us sec-padding">
    <div class="zt-container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img-box">
                    <img src="~/Content/images/faq.png" alt="FAQ" />
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pdl100">
                <div class="sec-title">
                    <h2>What We Do?</h2>
                    <span class="tagline">In dapibus feugiat metus vitae maximus. Duis ut neque odio. Fusce non augue congue, mattis est in.</span>
                </div>
                <div class="faq-accrodion">
                    <h3>We open at what time?</h3>
                    <div>
                        <p>Duis volutpat eros ut eros ullamcorper, dapibus tempor metus elementum. Fusce sagittis et nibh et vestibulum. </p>
                    </div>
                    <h3>We are open to those who?</h3>
                    <div>
                        <p>Duis volutpat eros ut eros ullamcorper, dapibus tempor metus elementum. Fusce sagittis et nibh et vestibulum. </p>
                    </div>
                    <h3>Fusce mollis faucibus lectus maximus ultricies?</h3>
                    <div>
                        <p>Duis volutpat eros ut eros ullamcorper, dapibus tempor metus elementum. Fusce sagittis et nibh et vestibulum. </p>
                    </div>
                    <h3>Nunc commodo sodales consequat?</h3>
                    <div>
                        <p>Duis volutpat eros ut eros ullamcorper, dapibus tempor metus elementum. Fusce sagittis et nibh et vestibulum. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>