<section class="inner-banner">
    <div class="zt-container">
        <div class="box clearfix">
            <h2>Confirm</h2>
            <ul class="breadcumb">
                <li><span>Confirm</span></li>
            </ul>
        </div>
    </div>
</section>
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">
        <strong>Thank you</strong>, You have successfully placed an order
    </p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="@Url.Action("Index", "Home")" role="button">Continue to homepage</a>
    </p>
</div>
